/* Global CSS */

html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    overflow: scroll;
}

.text-white{
    color: #FFFFFF;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
    color: #4C5740;
}

.good{
    background-color: #E6F2D7;
}

.dry{
    background-color: #F2DDD7;
}
