/* NavBar CSS */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #AFD582;
}

.navbar > *{
    font-family: "Poppins", serif;
    font-weight: 1000;
    text-decoration: none;
    color: #4C5740;
}

.navbar-link-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-link{
    text-decoration: none;
    color: #4C5740;
}

.navbar-login-logout-button{
    height: 41.5px;
    background-color: #E6F2D7;
    display: flex;
    line-height: 41.5px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 15px;
    border-color: #E6F2D7;
}

.sproutly-text{
    padding-left: 11px;
}