/* Plant Card CSS */

.plantCard{
    height: 532px;
    width: 356px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plantCard-image{
    height: 326px;
    width: 302px;
    border-radius: 15px;
    margin-top: 23px;
}

.plantCard-detail{
    width: 302px;
    height: 133px;
    margin-top: 15px;
}

.plantCard-detail > *{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
}

.plantCard-dry-status-indicator{
    background-color: #7CD1F0;
    width: 150px;
    height: 47px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 11px;
    margin-left: 192px;
}

.plantCard-dry-status-indicator > * {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
}

.addNewPlantCard{
    height: 532px;
    width: 356px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6F2D7;
}


.addNewPlantCard-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 22px;
}

.addNewPlantCard-icon{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}
