name: Backend CI/CD

on:
  push:
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  run-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: cd backend && pip install -r requirements.txt

      # - name: Install Pylint
      #   run: pip install pylint

      # - name: Run Pylint on Backend
      #   run: pylint backend/**/*.py

      # - name: Run Tests
      #   run: cd backend && pytest

